/*
 * Api Documentation
 * Api Documentation
 *
 * OpenAPI spec version: 1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.aurea.automation.codegraph.oa3.api;

import com.google.gson.reflect.TypeToken;
import com.aurea.automation.codegraph.oa3.models.ErrorResponse;
import com.aurea.automation.codegraph.oa3.models.StackBuildRequest;
import com.aurea.automation.codegraph.oa3.models.StackBuildStatusUpdateDto;

import java.util.ArrayList;
import java.util.Arrays;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import io.restassured.RestAssured;
import io.restassured.builder.RequestSpecBuilder;
import io.restassured.builder.ResponseSpecBuilder;
import io.restassured.http.Method;
import io.restassured.response.Response;
import io.swagger.annotations.*;

import java.lang.reflect.Type;
import java.util.function.Consumer;
import java.util.function.Function;
import java.util.function.Supplier;
import com.aurea.automation.codegraph.oa3.JSON;
import com.aurea.automation.codegraph.oa3.Oper;
import com.aurea.automation.codegraph.oa3.models.*;

import static io.restassured.http.Method.*;

@Api(value = "Webhook")
public class WebhookApi {

    private RequestSpecBuilder reqSpec;

    private WebhookApi(RequestSpecBuilder reqSpec) {
        this.reqSpec = reqSpec;
    }

    public static WebhookApi webhook(RequestSpecBuilder reqSpec) {
        return new WebhookApi(reqSpec);
    }


    @ApiOperation(value = "Send stack and layer build updates",
            notes = "Send stack and layer build updates",
            nickname = "saveStackAndLayerUpdatesUsingPOST",
            tags = { "webhook", "stackbuild" })
    @ApiResponses(value = { 
            @ApiResponse(code = 200, message = "OK") ,
            @ApiResponse(code = 201, message = "Stack Build Request is created") ,
            @ApiResponse(code = 401, message = "User not authenticated") ,
            @ApiResponse(code = 422, message = "Required fields should have values")  })
    public SaveStackAndLayerUpdatesUsingPOSTOper saveStackAndLayerUpdatesUsingPOST() {
        return new SaveStackAndLayerUpdatesUsingPOSTOper(reqSpec);
    }

    /**
     * Customise request specification
     * @param consumer consumer
     * @return api
     */
    public WebhookApi reqSpec(Consumer<RequestSpecBuilder> consumer) {
        consumer.accept(reqSpec);
        return this;
    }

    /**
     * Send stack and layer build updates
     * Send stack and layer build updates
     *
     * @see #idPath id (required)
     * @see #body requestDto (required)
     * return StackBuildRequest
     */
    public static class SaveStackAndLayerUpdatesUsingPOSTOper implements Oper<SaveStackAndLayerUpdatesUsingPOSTOper> {

        public static final Method REQ_METHOD = POST;
        public static final String REQ_URI = "/stackbuilds/{id}/updates";

        private RequestSpecBuilder reqSpec;
        private ResponseSpecBuilder respSpec;

        public SaveStackAndLayerUpdatesUsingPOSTOper(RequestSpecBuilder reqSpec) {
            this.reqSpec = reqSpec;
            reqSpec.setContentType("application/json");
            reqSpec.setAccept("*/*");
            this.respSpec = new ResponseSpecBuilder();
        }

        /**
         * POST /stackbuilds/{id}/updates
         * @param handler handler
         * @param <T> type
         * @return type
         */
        public <T> T execute(Function<Response, T> handler) {
            return handler.apply(RestAssured.given().spec(reqSpec.build()).expect().spec(respSpec.build()).when().request(REQ_METHOD, REQ_URI));
        }

        /**
         * POST /stackbuilds/{id}/updates
         * @param handler handler
         * @return StackBuildRequest
         */
        public StackBuildRequest executeAs(Function<Response, Response> handler) {
            Type type = new TypeToken<StackBuildRequest>(){}.getType();
            return execute(handler).as(type);
        }

         /**
         * @param stackBuildStatusUpdateDto (StackBuildStatusUpdateDto) requestDto (required)
         * @return operation
         */
        public SaveStackAndLayerUpdatesUsingPOSTOper body(StackBuildStatusUpdateDto stackBuildStatusUpdateDto) {
            reqSpec.setBody(stackBuildStatusUpdateDto);
            return this;
        }

        public static final String ID_PATH = "id";

        /**
         * @param id (String) id (required)
         * @return operation
         */
        public SaveStackAndLayerUpdatesUsingPOSTOper idPath(Object id) {
            reqSpec.addPathParam(ID_PATH, id);
            return this;
        }

        /**
         * Customise request specification
         * @param consumer consumer
         * @return operation
         */
        public SaveStackAndLayerUpdatesUsingPOSTOper reqSpec(Consumer<RequestSpecBuilder> consumer) {
            consumer.accept(reqSpec);
            return this;
        }

        /**
         * Customise response specification
         * @param consumer consumer
         * @return operation
         */
        public SaveStackAndLayerUpdatesUsingPOSTOper respSpec(Consumer<ResponseSpecBuilder> consumer) {
            consumer.accept(respSpec);
            return this;
        }
    }
}
